/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
}

html, body {
  color: #222;
  font-family: "Ubuntu", serif;
  font-size: 1em;
  line-height: 1.4;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
  }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .section__title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    line-height: 32.17px;
    color: #494949;
    margin: 0;
   }

   .section__subtitle {
    font-family: "Myriad Pro Regular", serif;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    line-height: 13.2px;
    color: #A2A2A2; 
   } /*font not working*/

   .section__content {
    max-width: 1010 px;
    height: 537 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
   }

   .calendar-item {
    font-family: "Ubuntu", serif;
    width: 320px;
    height: 256px;
    color: white;
    background-color: burlywood; /*place-holder*/
    position: relative;
   }

   .calendar-item__date {
    width: 56px;
    height: 34.28px;
    text-align: center;
    background-color: #D8605F;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .calendar-item__heading { 
    font-size: 16px;
    line-height: 18.38px;
    margin: 0;
   }

  .calendar-item__subtitle {
    font-size: 8px;
    line-height: 9.19px;
    margin: 0;
  } /*Ubuntu font is thicker than mockup*/

  .calendar-item__info {
    width: 320px;
    height: 48px;
    text-align: left;
    font-weight: 400;
    background-color: #19B2DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .calendar-item__topic {
    font-size: 11px;
    line-height: 12.64px;
    margin: 0;
  }

  .calendar-item__icon {
    width: 28px;
    height: 28px;
    background-color: #1596BD; /*place-holder for calendar image*/
    justify-self: end;
    margin-left: auto;
  }

  .work-box {
    width: 320px;
    height: 256px;
    background-color: burlywood; /*place-holder*/
  }

  .section__contentimages {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    max-width: 1010px; 
    margin: 0 auto;
    gap: 25px;
  } 



  

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

